<section >
  <footer>
    
      <div class="container">
        

        <div class="">

          <ul style="display: inline;">
            <li><a href="#" class="fa fa-github"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
            <li><a href="#" class="fa fa-envelope"></a></li>
          </ul>
  
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright"><span style="color:darkblue">&copy; Copyright 2020 <strong>Moses Saffa Gbondo</strong>. All Rights Reserved</span></p>
              
            </div>
          </div>
        </div>
      </div>
  </footer>
</section>