<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{{ url_for('index') }}">MyProfile</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link {% if index %}active{% endif %}">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('about') }}" class="nav-link {% if about %}active{% endif %}">About</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('resume') }}" class="nav-link {% if resume %}active{% endif %}">Resume</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('portfolio') }}" class="nav-link {% if portfolio %}active{% endif %}">Portfolio</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('contact') }}" class="nav-link {% if contact %}active{% endif %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->