{% extends 'base.html'%}
{% block title %}About{% endblock %}
{% block css %}{% endblock %}

{% block body %}
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{url_for('static', filename='img/moses-profile.jpg')}}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Moses Saffa Gbondo</span></p>
                      <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>gbondos@berea.edu</span></p>
                      <p><span class="title-s">Phone: </span> <span>(862) 371-2759</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>JAVA & PYTHON</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML CSS & BOOTSTRAP</span> <span class="pull-right">95%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT & PHP</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>MONGODB & MYSQL</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>ANGULAR & REACT</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I was born and raised in Sierra Leone, Africa.
                    I grew up in poverty and 10 years of civil war. Despite my background, I was determined to be successful. 
                    In 2011, I was ranked top 3 best students in Sierra Leone. Subsequently, I was offered a full scholarship to study in Hong Kong, 
                    China at Li Po Chun United World College. 
                  </p>
                  <p class="lead">
                    In 2015, I received a full scholarship to study at Berea College, KY, USA.
                    I graduated in 2019 with a Bachelor's degree in Computer Science and Economics.
                    I love programming and Computer Science.
                  </p>
                  <p class="lead">
                    My goal is to develop technologies and infrastructures to increase work productivity and reducing time to do repetitive and mundane tasks. 
                    I am looking forward to exciting opportunities as a Software Engineer at a progressive company.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}