{% extends 'base.html'%}
{% block title %}Portfolio{% endblock %}
{% block css %}{% endblock %}
{% block body %}
<div class="container">
  <br>
  <br>
  <br>
  <h2 style="text-align: center;">PORTFOLIO</h2>

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('web')"> Web App</button>
    <button class="btn" onclick="filterSelection('ios')"> iOS/Android</button>
    <button class="btn" onclick="filterSelection('games')"> Games Dev</button>
  </div>

  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column web">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/flask.png')}}" alt="Mountains" style="width:100%">
        <h4>Full Stack Flask App</h4>
        <p>Click on Link</p>
      </div>
    </div>
    <div class="column web">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/php.jpg')}}" alt="Lights" style="width:100%">
        <h4>Lights</h4>
        <p>Click on Link</p>
      </div>
    </div>
   

    <div class="column ios">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/soon.jpg')}}" alt="Car" style="width:100%">
        <h4>App in Dev Mode</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <!-- <div class="column ios">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/4.jpg')}}" alt="Car" style="width:100%">
        <h4>Fast</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div> -->
    

    <div class="column games">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/soon.jpg')}}" alt="games" style="width:100%">
        <h4>Girl</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <!-- <div class="column games">
      <div class="content">
        <img src="{{url_for('static', filename='img/portfolio/6.jpg')}}" alt="games" style="width:100%">
        <h4>Man</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div> -->
    
  <!-- END GRID -->
  </div>
</div>
{% endblock %}