{% extends 'base.html'%}
{% block title %}Home {% endblock %}
{% block body %}
<section id="resume" class="resume section-bg ">
    <div class="container">

      <div class="section-title">
        <br><br><br>
        <h1 style="text-align: center; color:blue ;">RESUME</h1>
        <p>Motivated and result-driven Software Engineer seeking to create new products and improved existings products that are used by millions of people around the world. I am seeking to join an engineering team that will build the next generation of innovative software products for customers.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Moses Saffa Gbondo</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <p>
              </p><ul>
                <li>101 Chestnut St, Berea, KY, 40403</li>
                <li>(862) 371-2759</li>
                <li>gbondos@berea.edu</li>
              </ul>
            <p></p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Arts in Computer Science &amp; Economics</h4>
            <h5>2015 - 2019</h5>
            <p><em>Berea College, Berea, KY, 40403</em></p>
            <p>Motto: God has made of one blood all peoples of the earth.</p>
          </div>
          <div class="resume-item">
            <h4>Online Learning &amp; Certifications</h4>
            <h5>2015 - 2019</h5>
            <p><em>A short list of certifications</em>
            <ul>
              <li>Full Stack Web Development with Flask, React, PHP and Java Spring Boot</li>
              <li>Agile Software Development</li>
              <li>AWS Cloud Computing</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Computer Science Teaching Associate – </h4>
            <h5>August 2016 - May 2019</h5>
            <p><em>Berea College, Berea, KY </em></p>
            <p></p>
              <ul>
                <li>Provided in class assistance to an average 20 students per semester in Software Design and Implementation, Data Structures, Computer Security, Database Management Systems, and Robotics.</li>
                <li>Tutored students in understanding the theory, design, development and application of software. </li>
                <li>Assisted professors in developing lessons, organizing events, and performing administrative tasks.</li>
              </ul>
            <p></p>
          </div>
          <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>May 2017 - August 2017</h5>
            <p><em>Goldman Sachs, Irving, TX</em></p>
            <p>
              </p><ul>
                <li>Designed and developed a web application to store user’s information more securely and to distribute email notifications to over 2000 clients and employees using Angular and Java Spring Boot framework.</li>
                <li>Performed unit testing on small chunks of codes and integration testing to identify errors in order to ensure the web application meets specifications.</li>
                <li>Worked in Agile software development methodology using Scrum approach.</li>
              </ul>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}